<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script type="text/javascript">
function submit(val){
	document.form.num.value=val;
	document.form.submit();
}
</script>
<style type="text/css">
*{background-color: green;color: yellow;}
.th37,.th38{background-color: green;color: yellow;}
.th1,.th3,.th5,.th7,.th9,.th12,.th14,.th16,.th18,.th19,.th21,.th23,.th25,.th27,.th30,.th32,.th34,.th36{background-color: red;color: yellow;}
.th2,.th4,.th6,.th8,.th10,.th11,.th13,.th15,.th17,.th20,.th22,.th24,.th26,.th28,.th29,.th31,.th33,.th35{background-color: black;color: yellow;}

</style>
<title>Roulette History Board</title>
</head>
<body>

<table class="table1" border="1" style="float:left; margin-right:5px;" >
<thead>
<tr>
<th th:class="th37" colspan="2" id="button" th:onclick="submit(37)" width="72px" height="40px">0</th>
<th th:class="th38" colspan="2" id="button" th:onclick="submit(38)" width="72px" height="40px">00</th>

</thead>
<tbody>

<tr th:each="i : ${#numbers.sequence(1,34,3)}">
      <th width="50px" height="40px" th:class="|th${i}|" id="button" th:onclick="|submit('${i}')|">[[${i}]]</th>
      <th width="25px" height="40px" th:class="|th${i+1}|" colspan="2" id="button" th:onclick="|submit('${i+1}')|">[[${i+1}]]</th>
      <th width="50px" height="40px" th:class="|th${i+2}|" id="button" th:onclick="|submit('${i+2}')|">[[${i+2}]]</th>
    </tr>
</tbody>
<tfoot>
<tr>
<th colspan="2">
<form th:action="@{/roulettehistoryboard}" method="post">
<input type="submit"    value="reset"  >
<input type="hidden"  name="num" value="0">
</form>
</th>
<th colspan="2">
<form th:action="@{/roulettehistoryboard}" method="post">
<input type="submit"    value="random"  >
<input type="hidden"  name="num" value="39">
</form>
</th>
</tr>
</tfoot>
</table>
<div th:if="${alsize ne 0}">
<table class="table2" border="1" style="float:left; margin-right:0px;">
<tbody>

<tr th:each="i : ${al}" th:switch="${i.num}" >
      <th width="40px" height="40px"  th:case="37" th:class="|th${i.num}|" >0</th>
      <th width="40px" height="40px"  th:case="38" th:class="|th${i.num}|" >00</th>
      <th width="40px" height="40px"  th:case="*" th:class="|th${i.num}|" >[[${i.num}]]</th>
    </tr>
</tbody>
</table>
</div>

<div th:if="${al2size ne 0}">
<table class="table3" border="1" style="float:left; margin-right:0px;">
<tbody>

<tr th:each="i2 : ${al2}" th:switch="${i2.num}" >
      <th width="40px" height="40px"  th:case="37" th:class="|th${i2.num}|" >0</th>
      <th width="40px" height="40px"  th:case="38" th:class="|th${i2.num}|" >00</th>
      <th width="40px" height="40px"  th:case="*" th:class="|th${i2.num}|" >[[${i2.num}]]</th>
    </tr>
</tbody>
</table>
</div>

<div th:if="${al3size ne 0}">
<table class="table4" border="1" >
<tbody>

<tr th:each="i3 : ${al3}" th:switch="${i3.num}" >
      <th width="40px" height="40px"  th:case="37" th:class="|th${i3.num}|" >0</th>
      <th width="40px" height="40px"  th:case="38" th:class="|th${i3.num}|" >00</th>
      <th width="40px" height="40px"  th:case="*" th:class="|th${i3.num}|" >[[${i3.num}]]</th>
    </tr>
</tbody>
</table>
</div>
<form th:action="@{/roulettehistoryboard}" method="post" th:name="form">
      <input type="hidden"  name="num" ></form>

</body>
</html>